packages/**/*.md
packages/**/*.mdx
package.json
.umi
.umi-production
src/components/style/color/bezierEasing.less
src/components/style/color/colorPalette.less
src/components/style/color/tinyColor.less
