packages/**/*.md
packages/**/*.mdx
package.json
.umi
.umi-production
packages/jiang-design/src/components/style/color/bezierEasing.less
packages/jiang-design/src/components/style/color/colorPalette.less
packages/jiang-design/src/components/style/color/tinyColor.less
